# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual Environment
venv/
env/

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# IDE
.vscode/
.idea/
